* {
  margin: 0;
  padding: 0;
}
.scroll {
  position: fixed;
  z-index: 99999;
  color: white;
}
#header {
  z-index: 999999;
  display: flex;
  align-items: center;
  position: fixed;
  top: 3%;
  width: 80%;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
  border: 1px solid none;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  color: #fff;
  backdrop-filter: blur(20px);
  /* mix-blend-mode: overlay; */
}
.left {
  display: flex;
  align-items: center;
  width: 10%;
}
.left svg {
  padding-right: 10px;
  padding-left: 10px;
}
.menu-btn {
  padding-right: 20px;
  width: 10%;
  text-align: right;
}
.menu-btn .ham {
  float: right;
  background-color: white;
  position: relative;
  display: flex;
  width: 25px;
  height: 1.5px;
  border-radius: 30px;
  cursor: pointer;
}
.menu-btn .ham::before,
.menu-btn .ham::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 1.5px;
  background-color: white;
  border-radius: 5px;
}
.menu-btn .ham::before {
  transform: translateY(-10px);
}
.menu-btn .ham::after {
  transform: translateY(10px);
}

.name {
  color: white;
  font-size: 15px;
  font-family: Michroma;
  text-align: center;
}

#main1 {
  background-image: url(/asset/img/main1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
}
.content1 {
  display: flex;
  text-align: center;
  align-items: center;
  margin: auto auto 5%;
}
.row {
  position: relative;
}
.content1 .logo {
  margin-bottom: 3%;
}
.content1 .logo svg {
  width: 100px;
  animation: rotate_image 5s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

.content1 .txt {
  color: white;
  font-family: Michroma;
}
.txt .txt1 {
  font-weight: 100;
  font-size: 40px;
}
.txt .txt2 {
  font-weight: 100;
  font-size: 25px;
}

#main2 {
  display: flex;
  background-color: black;
  width: 100%;
  height: 100vh;
  position: relative;
}
#main2 .txt {
  width: 50%;
}
#main2 .title {
  font-size: 3vw;
  font-weight: 100;
  color: white;
  font-family: Michroma;
  margin-top: 15%;
  margin-left: 15%;
}

#main2 .contents {
  font-size: 13px;
  font-weight: 50;
  line-height: 18px;
  color: white;
  font-family: "GmarketSans";
  text-align: right;
  margin-top: 50px;
  margin-right: 145px;
  word-break: break-all;
}
#main2 .photo {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}
#main2 .photo .img1 {
  position: absolute;
  /* transform: translateY(30px); */
  background-image: url(https://cdn.pixabay.com/photo/2020/06/17/02/55/moon-5307922_1280.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 250px;
  height: 250px;
  border-radius: 300px;
}
#main2 .photo .img2 {
  position: absolute;
  /* transform: translateY(450px); */

  background-image: url(https://cdn.pixabay.com/photo/2019/12/29/02/33/snow-4726119_1280.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 300px;
}
#main2 .photo .img3 {
  position: absolute;
  background-image: url(/asset/img/main2_img3.jpg);
  background-repeat: no-repeat;

  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 350px;
}
#main3 {
  display: block;
  background-color: black;
  width: 100%;
  height: 100vh;
  position: relative;
}

#main3 {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 80vh;
  background-color: black;
}
#main3 .photo {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
}
#main3 .photo > div {
  margin-top: 7%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 220px;
  height: 300px;
  margin-left: 10px;
}
#main3 .photo > div:nth-child(1) {
  background-image: url(/asset/img/main3_img1.png);
}
#main3 .photo > div:nth-child(2) {
  background-image: url(/asset/img/main3_img2.jpg);
}
#main3 .photo > div:nth-child(3) {
  background-image: url(/asset/img/main3_img3.jpg);
}
#main3 .photo > div:nth-child(4) {
  background-image: url(/asset/img/main3_img4.png);
}
#main3 .photo > div:nth-child(5) {
  background-image: url(/asset/img/main3_img5.jpg);
}
#main3 .photo > div:nth-child(6) {
  background-image: url(/asset/img/main3_img6.png);
}
#main3 .photo > div:nth-child(7) {
  background-image: url(/asset/img/main3_img7.png);
}

#main3 .title {
  position: relative;
  top: -30%;
  right: 10%;
  font-family: Michroma;
  font-size: 3vw;
  color: #fff;
  text-align: right;
  font-weight: 100;
}
#main4 {
  width: 100%;
  height: 200vh;
  bottom: 0;
}

#main4 .sl {
  top: 0;
  height: 100vh;
  width: 100%;
  position: sticky;
  background-color: black;
  display: block;
}

#main4 .sl .logo svg {
  width: 100px;
  margin: 8rem 0 0 8rem;
  animation: rotate_image 5s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}
#main4 .sl .txt1 {
  font-size: 3vw;
  font-family: Michroma;
  color: #fff;
  margin-top: 0.3rem;
  margin-left: 8rem;
  margin-right: 8rem;
  padding-bottom: 3rem;
  border-bottom: 0.5px solid white;
}
#main4 .sl .txt2 {
  font-size: 0.9rem;
  margin-top: 3rem;
  margin-right: 8rem;
  font-family: "GmarketSans";
  color: #fff;
  font-weight: 100;
  text-align: right;
  line-height: 2vw;
}

#main4 .webstandard {
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#main4 .bg {
  margin: -1px;
  background-image: url(/asset/img/main4_img1.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
#main4 .site {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  color: #fff;
  z-index: 99;
}
#main4 .site h2 {
  font-family: Michroma;
  font-size: 5vw;
  font-weight: bold;
  color: #fff;
  margin-bottom: 2vw;
}
#main4 .site p {
  font-family: "GmarketSans";
  width: 40vw;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
  padding: 5px 0 10px;
  color: #fff;
  margin-bottom: 2rem;
}
#main4 .site .btn a {
  text-decoration: none;
  padding: 10px 30px;
  background: white;
  color: black;
  font-size: 1rem;
  font-family: Michroma;
  position: relative;
  white-space: nowrap;
}

#main5 .Responsive_Web {
  top: 0;
  left: 0;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#main5 .bg {
  background-image: url(/asset/img/main5_img1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}
#main5 .site {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  color: #fff;
}
#main5 .site h2 {
  position: relative;
  font-family: Michroma;
  font-size: 5vw;
  font-weight: bold;
  color: #fff;
  margin-bottom: 2vw;
}
#main5 .site p {
  position: relative;
  font-family: "GmarketSans";
  width: 40vw;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
  padding: 5px 0 10px;
  color: #fff;
  margin-bottom: 2rem;
}
#main5 .site .btn a {
  text-decoration: none;
  padding: 10px 30px;
  background: white;
  color: black;
  font-size: 1rem;
  font-family: Michroma;
  position: relative;
  white-space: nowrap;
}

#main6 .PHP_Site {
  top: 0;
  left: 0;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#main6 .bg {
  background-image: url(/asset/img/main6_img.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}
#main6 .site {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  color: #fff;
}
#main6 .site h2 {
  position: relative;
  font-family: Michroma;
  font-size: 5vw;
  font-weight: bold;
  color: #fff;
  margin-bottom: 2vw;
}
#main6 .site p {
  position: relative;
  font-family: "GmarketSans";
  width: 40vw;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
  padding: 5px 0 10px;
  color: #fff;
  margin-bottom: 2rem;
}
#main6 .site .btn a {
  text-decoration: none;
  padding: 10px 30px;
  background: white;
  color: black;
  font-size: 1rem;
  font-family: Michroma;
  position: relative;
  white-space: nowrap;
}

#main7 .React_Site {
  top: 0;
  left: 0;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#main7 .bg {
  background-image: url(/asset/img/main7_img4.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}
#main7 .site {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  color: #fff;
}
#main7 .site h2 {
  position: relative;
  font-family: Michroma;
  font-size: 5vw;
  font-weight: bold;
  color: #fff;
  margin-bottom: 2vw;
}
#main7 .site p {
  position: relative;
  font-family: "GmarketSans";
  width: 40vw;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
  padding: 5px 0 10px;
  color: #fff;
  margin-bottom: 2rem;
}
#main7 .site .btn a {
  text-decoration: none;
  padding: 10px 30px;
  background: white;
  color: black;
  font-size: 1rem;
  font-family: Michroma;
  position: relative;
  white-space: nowrap;
}
