* {
  margin: 0;
  padding: 0;
}
.scroll {
  position: fixed;
  z-index: 99999;
  color: white;
}
#header {
  z-index: 999999;
  display: flex;
  align-items: center;
  position: fixed;
  top: 3%;
  width: 90%;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
  border: 1px solid black;
  background-color: black;
  border-radius: 30px;
  color: #fff;
}
.date {
  display: flex;
  align-items: center;
  width: 10%;
}
.date .smile {
  padding-right: 10px;
  padding-left: 10px;
}
.menu-btn {
  padding-right: 20px;
  width: 10%;
  text-align: right;
}
.menu-btn .ham {
  float: right;
  background-color: #fff;
  position: relative;
  display: flex;
  width: 25px;
  height: 1.5px;
  border-radius: 30px;
  cursor: pointer;
}
.menu-btn .ham::before,
.menu-btn .ham::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 1.5px;
  background-color: #fff;
  border-radius: 5px;
}
.menu-btn .ham::before {
  transform: translateY(-10px);
}
.menu-btn .ham::after {
  transform: translateY(10px);
}

.name {
  color: white;
  font-size: 15px;
  font-family: Michroma;
  text-align: center;
}

#main1 {
  background-image: url(/asset/img/background_img.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
}
.content1 {
  display: flex;
  text-align: center;
  align-items: center;
  margin: auto auto 5%;
}
.row {
  position: relative;
}
.content1 .logo {
  margin-bottom: 3%;
}
.content1 .logo svg {
  width: 150px;
}

.content1 .txt {
  color: white;
  font-family: Michroma;
}
.txt .txt1 {
  font-weight: 100;
  font-size: 40px;
}
.txt .txt2 {
  font-weight: 100;
  font-size: 25px;
}

#main2 {
  display: flex;
  background-color: black;
  width: 100%;
  height: 100vh;
  position: relative;
}
#main2 .txt {
  width: 50%;
}
#main2 .title {
  font-size: 3vw;
  font-weight: 100;
  color: white;
  font-family: Michroma;
  margin-top: 15%;
  margin-left: 15%;
}

#main2 .contents {
  font-size: 15px;
  font-weight: 100;
  color: white;
  font-family: "Michroma;";
  text-align: right;
  margin-top: 50px;
  margin-right: 100px;
  word-break: break-all;
}
#main2 .photo {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}
#main2 .photo .img1 {
  position: absolute;
  top: 10%;
  left: 50%;
  background-image: url(/asset/img/main2_img1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 300px;
}
#main2 .photo .img2 {
  position: absolute;
  top: 53%;
  left: 48%;
  background-image: url(/asset/img/main2_img2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 300px;
}
#main2 .photo .img3 {
  position: absolute;
  top: 40%;
  left: 68%;
  background-image: url(/asset/img/main2_img3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 350px;
  height: 350px;
  border-radius: 350px;
}
#main2 .photo .img2 #main2 .photo .img3 #main3 {
  display: block;
  background-color: black;
  width: 100%;
  height: 100vh;
  position: relative;
}

#main3 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: black;
}
#main3 .photo {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
}
#main3 .photo > div {
  margin-top: 7%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 220px;
  height: 350px;
  margin-left: 10px;
}
#main3 .photo > div:nth-child(1) {
  background-image: url(/asset/img/main3_img1.jpg);
}
#main3 .photo > div:nth-child(2) {
  background-image: url(/asset/img/main3_img2.jpg);
}
#main3 .photo > div:nth-child(3) {
  background-image: url(/asset/img/main3_img3.jpg);
}
#main3 .photo > div:nth-child(4) {
  background-image: url(/asset/img/main3_img4.png);
}
#main3 .photo > div:nth-child(5) {
  background-image: url(/asset/img/main3_img5.png);
}
#main3 .photo > div:nth-child(6) {
  background-image: url(/asset/img/main3_img6.png);
}
#main3 .photo > div:nth-child(7) {
  background-image: url(/asset/img/main3_img7.png);
}

#main3 .title {
  position: relative;
  top: -30%;
  right: 10%;
  font-family: Michroma;
  font-size: 3vw;
  color: #fff;
  text-align: right;
  font-weight: 100;
}
#main4 {
  width: 100%;
  height: 100vh;
}
#main4 .wrap {
  position: relative;
}
#main4 .main_img {
  height: 100vh;
  width: 100%;
  position: sticky;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(/asset/img/main4_img.jpg);
}
#main4 .sl {
  top: 0;
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 100;
  background-color: #192240;
  display: block;
}
#main4 .sl .logo svg {
  width: 100px;
  margin: 10rem 0 0 10rem;
}
#main4 .sl .txt1 {
  font-size: 3vw;
  font-family: Michroma;
  color: #fff;
  margin-top: 0.1rem;
  margin-left: 10rem;
  margin-right: 10rem;
  padding-bottom: 3rem;
  border-bottom: 0.5px solid white;
}
#main4 .sl .txt2 {
  font-family: "GmarketSans";
  color: #fff;
  font-weight: 100;
}
